@model PlanUp.Models.Song[]

@{
    ViewBag.Title = "Music";
}

<h2>Music</h2>

<table class="table">
    
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                    <iframe width="420" height="315"
                            src="@item.Etag">
                    </iframe>
                </td>
                <td>
                    @item.Description
                </td>
            </tr>
        }
    }
</table>

<input type="button" value="Get Next Propositions"
       onclick="GeneratePropositionInput()"/>
<div id="genrePreferenceForm" style="display: inline;">
    <a href="/Music/Index">
        <button type="button" class="btn btn-success btn-sm">Surprise me</button>
    </a>
    
    <form action="/Music/Index" style="display: inline;" >
        <input type="text" name="genre" />
        <input type="Submit" value="Next"/>
    </form>
</div>

<script>
    document.getElementById("genrePreferenceForm").style.display = "none";
    function GeneratePropositionInput() {
        document.getElementById("genrePreferenceForm").style.display = "block";
    }
</script>