@{
    ViewBag.Title = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>

<script>
    $(function () {
        $(".setState").click(function (e) {
            var dataToSend = JSON.stringify({ state: this.id});
            $.ajax({
                url: "@Url.Action("SetUserState", "Home")",
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: dataToSend,
                success: function () {
                },
                error: function (textStatus) {
                }
            });
        });
    })
</script>

    <div class="jumbotron" class="text_params" style="text-align: center ">
        <h1> PlanUp</h1>
        <p class="lead">Choose, if you want to Stay Home or Go Outside</p>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="/HomeActivity/Index" class="btn btn-success btn-lg">
                        <img src="~/Content/homeicon.png" />
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="/OutsideActivity/Index" class="btn btn-info btn-lg">
                        <img src="~/Content/outsideicon.png" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <input type="button" class="setState" id="lazy" value="LAZY" />
                </div>
                <div class="col-md-6">
                    <input type="button" class="setState" id="active" value="ACTIVE" />
                </div>
            </div>
        </div>
    </div>

