@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" class="text_params">
    <h1>PlanUp</h1>
    <p class="lead">Choose, if you want to Stay Home or Go Outside</p>

    <a href="/HomeActivity/Index" class="btn btn-success btn-lg">
        Stay Home
    </a>

    <a href="/OutsideActivity/Index" class="btn btn-info btn-lg">
        Go Outside
    </a>
</div>