@{
    ViewBag.Title = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>

<script>
    $(function () {
        $("#lazy").click(function (e) {
            var state = "lazy";
            $.ajax({
                url: "@Url.Action("SetUserState", "User")",
                type: "POST",
                dataType: "string",
                data: state,
                success: function () {
                },
                error: function (textStatus) {
                }
            });
        });
    }
</script>

    <div class="jumbotron" class="text_params" style="text-align: center ">
        <h1> PlanUp</h1>
        <p class="lead">Choose, if you want to Stay Home or Go Outside</p>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="/HomeActivity/Index" class="btn btn-success btn-lg">
                        <img src="~/Content/homeicon.png" />
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="/OutsideActivity/Index" class="btn btn-info btn-lg">
                        <img src="~/Content/outsideicon.png" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <input type="button" id="lazy" />
                </div>
                <div class="col-md-6">
                    <input type="button" id="active" />
                </div>

            </div>
        </div>
    </div>

