@using System.Web.Mvc.Html
@using System.Web

@model IEnumerable<PlanUp.Models.Movie>

@{
    ViewBag.Title = "Pick a movie!";
}
                      
@{
        Html.RenderPartial("_PartialViewMovieProposition", Model);
}


<p>@Html.ActionLink("Next Movies", "Index")</p>