@using System.Web.Mvc.Html
@using System.Web

@model IEnumerable<PlanUp.Models.Movie>

@{
    ViewBag.Title = "Pick a movie!";
}
                      
@{
        Html.RenderPartial("_PartialViewMovieProposition", Model);
}

<div class="col-sm-7">
    <div class="title">Big Title</div>
    <button class="btn btn-default pull-right">@Html.ActionLink("Next Movies", "Index")</button>
</div>

<p></p>