@using System.Web.Mvc.Html
@using System.Web

@model IEnumerable<PlanUp.Models.Movie>

@{
    ViewBag.Title = "Pick a movie!";
}
                      
@{
    try
    {
        Html.RenderPartial("_PartialViewMovieProposition", Model);
    } catch (Exception e)
    {
        <p>Source is unavailable</p>
    }
}


<p>@Html.ActionLink("Next Movies", "Index")</p>