@using System.Web.Mvc.Html
@using System.Web

@model List<PlanUp.Models.AbstractHomeEvent>

@{
    ViewBag.Title = "Pick a movie!";
}
                      
@{
        Html.RenderPartial("_PartialViewMovieProposition", Model);
}


<p>@Html.ActionLink("Next Movies", "Index")</p>